.flex-container{
    display: flex;
    flex-wrap: wrap;
    background: lightblue;
    justify-content: center;
}

.flex-container > .card{
    margin: 10px;
}

.card{
    width: 170px;
    border: 1px solid grey;
}

.card:hover{
    box-shadow: 5px 10px solid grey;
    cursor: pointer;
}

img{
    width: 100%; /* Ova kazuva slikata da zavzeme 100% od div-ot vo koj sto se naogja */
}