<%- include('../template/head') -%>

<body>
    <div>
        <%- include('../template/navbar') -%>
        <main>
            <h1>EJS Home Page </h1>
            <p>This is a simple app to use EJS View template engine.</p>
        </main>
        <%- include('../template/footer')-%>
    </div>
</body>
</html>