<header>
    <div>
        <h3>EJS menu</h3>
        <nav>
            <a id="home" href="/">Home</a>
            <a id="links" href="/links">Links</a>
            <a id="list" href="/list">List</a>
            <a id="table" href="/table">Table</a>
        </nav>
    </div>
</header>